<div class="row card ">
    <div class="card-title">
        Connexion
    </div>
    <div class="alert alert-danger text-center" *ngIf="erreurr==true">Email ou mdp incorrect</div>
    <form class="col s12" #connectForm="ngForm" (ngSubmit)="send(connectForm.value)">
        <div class="row">
            <div class="input-field ">
                <input name="email" type="text" class="validate" ngModel>
                <label for="first_name">Login</label>
                <span class="helper-text" data-error="email invalide" data-success="right"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field ">
                <input name="password" type="password" class="validate" ngModel>
                <label for="last_name">Mot de Passe</label>
                <span class="helper-text" data-error="password invalide" data-success="right"></span>

            </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit">Connecter</button>
    </form>
</div>